ul li{
    overflow: hidden;
    
}
ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#item{
    background-color: gray;
    text-decoration: none;
    
}
#item :hover, :focus, :active{
     background-color: black;
     color: white;
     text-decoration: none; 
     
}